@{
    // You can add any server-side logic here
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/api/placeholder/30/30" alt="logo" class="d-inline-block align-text-top me-2" />
            Smart Library Hub
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li >
                    <a class="nav-link active" href="#">Trang chủ</a>
                </li>
                <li >
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                <li >
                    <a class="nav-link" href="/register">Đăng ký</a>
                </li>
            </ul>
            <div class="d-flex">
                <a href="/login" class="btn btn-light">Đăng nhập</a>
            </div>
        </div>
    </div>
</nav>